/* movies container */
.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 1rem 1rem 1rem 0.1rem;
}

/* flippy back */
.slider-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
}

/* flippy text */
.slider-text {
    color: #CCDFE3;
    text-align: center;
    padding: 1rem;
}

/* flippy img */
.slider-img {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .movie-list {
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
}

@media only screen and (max-width: 480px) {
    .movie-list {
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}