/* search box and hamburger icon */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 5px;
}

input {
    outline: none;
    border: 2px solid #37474F;
    width: 15rem;
    padding: 8px;
    margin: 1rem;
    border-radius: 20px;
}

/* position of hamburger icon towards right when active */
.hamburger-active {
    position: relative;
    left: 15rem;
    z-index: 1;
    transition: all 0.5s ease;
}

/* position of hamburger icon towards left when inactive */
.hamburger-inactive {
    position: relative;
    left: 0;
    z-index: 1;
    transition: all 0.5s ease;
}

@media only screen and (min-width: 1025px) {
    .hamburger-active,
    .hamburger-inactive {
        visibility: hidden;
    }
}