/* selected movie container */
.selected-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.selected-img {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.25);
}

.selected-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-text {
  padding: 2rem;
  padding-top: 0;
}

.selected-text button {
  padding: 0.6rem 1.5rem;
  color: #263238;
  cursor: pointer;
  border: 1px solid #263238;
  background-color: transparent;
  border-radius: 5rem;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

.selected-text button:hover {
  color: #fff;
  background-color: #263238;
}

.selected-genre-list {
  display: flex;
  padding: 15px 5px;
}

.selected-genre-text {
  padding: 5px;
  color: #546e7a;
}

/* title */
h1 {
  font-weight: 300;
  font-size: 2.5rem;
}

/* sub-title of all pages */
h2 {
  color: #283135;
  font-weight: 400;
}

/* sub-title */
.selected-title {
  font-weight: 600;
  font-size: 1.3rem;
  padding: 5px;
}

/* date and mins */
h4 {
  padding: 10px;
}

/* date and mins */
span {
  padding-right: 10px;
  color: #b0bec5;
}

/* overview */
h3 {
  padding: 15px 5px;
}

/* paragraphs */
p {
  letter-spacing: 0.5px;
  font-size: 0.92rem;
  list-style: 1.8;
  font-weight: 500;
  color: #444444;
  padding: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #263238;
}

@media only screen and (max-width: 767px) {
  .selected-container {
    flex-direction: column;
  }

  .selected-img {
    width: 60%;
    margin-top: 2rem;
  }

  .selected-text {
    margin-top: 2rem;
  }

  .selected-container {
    padding: 0;
  }
}

@media only screen and (max-width: 481px) {
  .selected-img {
    margin-top: 0.7rem;
  }

  .selected-text {
    padding: 1rem;
  }
}