/* modal */
.modal-video,
.overlay-video {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal-video {
    z-index: 10;
}

/* overlay */
.overlay-video {
    background: rgba(49, 49, 49, 0.8);
}

/* container modal */
.container-video-modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 560px;
    height: 315px;
}

@media only screen and (max-width: 581px) {

    /* container modal */
    .container-video-modal {
        max-width: 80%;
        min-width: 350px;
        height: 315px;
    }
}