.container {
    margin-left: 17rem;
    padding-top: 5%;
}

@media only screen and (max-width: 1024px) {
    .container {
        margin-left: 3%;
        padding-top: 10%;
    }
}

@media only screen and (max-width: 480px) {
    .container {
        padding-top: 20%;
    }
}